h1 {
  color: #87CEEB;
}
h2 {
  color: #20B2AA;
}
ul {
  list-style-type: none;
}
.enter {
  background-color: white;
  border: 1px solid white;
  color: Gray;
  text-align: center;
  border-radius: 5px;
  float: right;
}
.channel {
  color: #2F4F4F;
  /* background-color: MistyRose; */
  background-color: #F5FFFA;
  border: 1px solid #8FBC8F;
  padding: 7px;
  margin-right: : 10px;
  margin-bottom: 5px;
  border-radius: 5px; /*for rounded borders*/
}
.message {
  color: #696969;  /*DimGray*/
  background-color: Pink; /*#FFC0CB*/
  padding: 7px;
  margin-left: 50px;
  border-radius: 5px; /*for rounded borders*/
}
.alert {
  color: #696969;  /*DimGray*/
  background-color: #b0c5e6; /*#FFC0CB*/
  padding: 7px;
  margin-left: 50px;
  border-radius: 5px; /*for rounded borders*/
}
