{% extends "layout.html" %}

{% block script %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='channels.js') }}"></script>
{% endblock %}

{% block heading %}Channels{% endblock %}

{% block content %}
  <ul class="list-group-flush" id="channels">
    {% for channel in channels %}
      <li class="list-group-item">{{ channel.room }}</li>
    {% endfor %}
  </ul>
  <br>

  <form id="new-channel">
    <div class="form-group">
      <input id="channel" class="form-control" autocomplete="off" autofocus placeholder="Create a New Channel" type="text"><br>
      <input id="submit" type="submit" class="btn btn-info">
    </div>
  </form>
{% endblock %}
