{% extends "layout.html" %}

{% block script %}

  <script id="new-channel-item" type="text/x-handlebars-template">
    <li class="list-group-item list-group-item-action">
      <a href="{{ url_for('messages') }}"  data-room={% raw -%}{{ new_channel }}{%- endraw %}>
        New!: {% raw -%} {{ new_channel }} {%- endraw %}
      </a>
    </li>
  </script>

  <script src="{{ url_for('static', filename='channels.js') }}"></script>

{% endblock %}

{% block heading %}My web chat application{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <ul class="list-group-flush" id="channels">
        {% for channel in channels %}
          <li class="list-group-item"><a href="{{ url_for('messages') }}" data-room=channel.room>{{ channel.room }}</a></li>
        {% endfor %}
      </ul>
      <br>

      <form id="new-channel">
        <div class="form-group">
          <input id="channel" class="form-control" autocomplete="off" autofocus placeholder="Create a New Channel" type="text"><br>
          <input id="submit-channel" type="submit" class="btn btn-info">
          <!-- <input type="submit" class="submit btn btn-info"> -->
        </div>
      </form>
    </div>

    <div class="col-lg-8">
      <form id="new-message">
        <div class="form-group">
          <input id="message" class="form-control" autocomplete="off" autofocus placeholder="Write your message here." type="text"><br>
          <input id="submit-message" type="submit" class="btn btn-info">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
