{% extends "layout.html" %}

{% block heading %}Welcome!{% endblock %}

{% block content %}
  <form id="form">
    <div class="form-group">
      <!-- <label>Please enter your display name</label><br> -->
      <input id="name" class="form-control" autocomplete="off" autofocus placeholder="Enter your display Name" type="text">
      <small class="form-text text-muted">This name will be displayed with your messages.</small><br>
      <input type="submit" class="btn btn-info">
    </div>
  </form>
{% endblock %}
