{% extends "layout.html" %}

{% block script %}

  <script id="channel-item" type="text/x-handlebars-template">
    <li>
      <a href="" class="channel-link">
      {% raw -%}{{ contents }}{%- endraw %}
      </a>
    </li>
  </script>

  <script id="message-item" type="text/x-handlebars-template">
    <div class="message">
      <span>{% raw -%}{{ text }}{%- endraw %}</span><br>
      <span><small>{% raw -%}{{ info }}{%- endraw %}</small></span>
    </div>
  </script>

  <script id="alert-message" type="text/x-handlebars-template">
    <div class="alert">
      <span>{% raw -%}{{ text }}{%- endraw %}</span><br>
    </div>
  </script>

  <script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}

{% block heading %}My web chat application{% endblock %}

{% block content %}
<div class="container">
  <form id="register">
    <div class="form-group">
      <label>Please enter your display name</label><br>
      <input id="new-name" name="new-name" class="form-control" autocomplete="off" autofocus placeholder="Name" type="text">
      <small class="form-text text-muted">This name will be displayed with your messages.</small><br>
      <input id="submit-name" type="submit" class="btn btn-info">
    </div>
  </form>
</div>

<div id="user" class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Channels</h2><br>
      <!-- <div id="channels">
      </div> -->
      <ul id="channels">
      </ul>
      <br>

      <form id="create-new-channel">
        <div class="form-group">
          <input id="channel" class="form-control" autocomplete="off" autofocus placeholder="Create a New Channel" type="text"><br>
          <input id="submit-channel" type="submit" class="btn btn-info">
        </div>
      </form>
    </div>

    <div class="col-lg-8">
      <h2 id="room-name"></h2><br>
      <!-- <h2>Messages</h2><br> -->
      <div id="messages">
      </div>
      <br>

      <form id="new-message">
        <div class="form-group">
          <input id="message" class="form-control" autocomplete="off" autofocus placeholder="Write your message here" type="text"><br>
          <input id="submit-message" type="submit" class="btn btn-info">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
